html{
    scroll-behavior: smooth;
}

.header{
    display: flex; /**/
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: #ADBBDA;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    /*Adds shadow effect behind element | 
    0px (shadow is directly behind navbar) 
    2px (Shadow moved down) 10px(controls how soft shadow is)
    0.1 = 10% opacity (very light, not too dark*/
    border-radius: 5px;
    position: sticky; /*Keeps navbar fixed at one place*/
    top: 0; /*Ensures navbar stick at very top of page when scrolling*/
    z-index: 100; /*Ensures navbar stays above other elements*/
}

body{
    font-family: 'Crimson Text', sans-serif;
    font-weight: 600;
    background-color: #EDE8F5;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbar ul li{
    /*
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;

    same as margin: 0px (top and bottom) 15px (left and right);
    */
    margin: 0px 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.homeicon{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.homeicon:hover{
    transform: scale(1.1);
    color: #3D52A0;
}
/*.homeicon img{
    width: 50px;
    height: auto;
    cursor: pointer;
}*/
.navbar ul li a:hover{
    color: #3D52A0;
}

section{
    scroll-margin-top: 80px;
    padding: 100px 20px;
    min-height: 500px;
}
.section-header{
    position: sticky;
    top: 60px;
    background-color: #EDE8F5;
    padding: 10px;
    z-index: 50;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}